/*=====================================
=            Media Queries            =
=====================================*/

$only-smartphone: "(max-width: 699px)";
$phone: "(min-width: 0px)";
$smartphone: "(min-width: 319px)";

$only-tablet: "(min-width: 700px) and (max-width: 1024px)";
$tablet: "(min-width: 700px)";

$only-desktop: "(min-width: 1025px) and (max-width: 1499px)";
$desktop: "(min-width: 1025px)";

$widescreen: "(min-width: 1500px)";

/*=====  End of Media Queries  ======*/