.ir {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.-disabled, .disabled {
  pointer-events: none;
  cursor: default;
}

.-hidden, .hidden {
  display: none !important;
  visibility: hidden;
}

.-o-hidden, .overflow-hidden{
  overflow: hidden;
}

.-visible, .visible { display: block !important; }

.-invisible, .invisible { visibility: hidden; }

.-block, .block { display: block; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  @include rem(height, 1px);
  @include rem(margin, -1px);
  overflow: hidden;
  @include rem(padding, 0);
  position: absolute;
  @include rem(width, 1px);
}


.horizontal-only {
  height: auto;
  @include rem(max-height, 200px);
}

.align-left {
  float: left;
  @include rem(margin-right, 30px);
  @include rem(margin-bottom, 30px);
}

.align-right {
  float: right;
  @include rem(margin-left, 30px);
  @include rem(margin-bottom, 30px);
}

.-t-right{
  text-align: right;
}

.-t-center{
  text-align: center;
}
